


// HSB to HSLA COLOR with SASS
// https://www.sitepoint.com/hsb-colors-with-sass
@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1)
	@if $b-hsb == 0
		@return hsla(0, 0, 0, $a)
	@else
		$l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100))
		$s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2)
		@return hsla($h-hsb, $s-hsl, $l-hsl, $a)

$game-list: rainbow-riches #fce956 #7000a7,starburst #b32dc5 #0f0616,cleopatra #ffcc00 #370200,golden-godess #feec4e #33188e,reel-king #ffc000 #000f67,davinci-diamonds #0566dc #000000,family-guy-slots #00a0d4 #192579,mafia-millions-slots #9b7262 #4c372e,ruby-slippers-slot #fffe00 #007000,star-spin-slot #e9c608 #010b25,wizard-of-oz-slot #00a0d4 #192579,mega-moolah-slot #fde102 #482811,bruce-lee-slots #ffcc00 #0b200d,avalon-slots #eab523 #292354,raging-rhino-slot #fef746 #523105,book-of-dead-slot #ffd888 #523105,marvel-slots #5dd6f3 #001e42,pot-of-gold-slots #ffe300 #0c790c,fishing-frenzy-slot #00a0d4 #192579,willy-wonka-slots #00a0d4 #192579,pharaohs-fortune-slot #dbb44a #302a12,thunderstruck-2-slot #00ccce #182450,star-trek-slots #0be1ff #01376e,dead-or-alive-slot #f0db0c #3a372d,lucky-lady-charm-slot #fce701 #fce701,hulk-slot #00fe00 #0b4419,zuma-slots #00a0d4 #192579,tiki-island-slots #fdda55 #693029,britain-s-got-talent-slots #cd152d #261163,double-bubble-slot #5de49b #f1b6c8,zeus-slot #00a0d4 #192579,action-bank-slot #ff0103 #000000,eye-of-horus-slot #fbbd03 #893407,sizzling-slot #fff145 #9e0b0f,fluffy-favourites-slot #e872b7 #ffd3d3,fluffy-favourites-slot-2 #e872b7 #ffd3d3,classic-blackjack #f0d8a0 #001d0e,european-blackjack #f0d8a0 #011d1f,double-deck-blackjack #f0d8a0 #111903,premium-blackjack #f0d8a0 #201a09

//	@function get-contrast($colour)
//		@if (lightness($colour) < 50)
//			@return (lighten($colour, 80%))
//		@else
//			@return (darken($colour, 80%))

//	@each $game in $game-list
// $btnBg:         hsb(nth($game, 2), nth($game, 3), nth($game, 4), 1) // button color
// $borderTop:     hsb(nth($game, 2), 80, 60, 1) // border top color
// $defaultBg:     hsb(nth($game, 2), nth($game, 3), 30, 1) // unde image bg
// $listBorder:    hsb(nth($game, 2), 80, 80, .5)
// $tintText:      hsb(nth($game, 2), 50, 100, 1)
// $icons:         hsb(nth($game, 2), 80, 100, 1)
// $iconsDisable:  hsb(nth($game, 2), 10, 40, .5)

@function add-darknes($colour, $adColor)
	@if (lightness($colour) > 50)
		@return (darken($colour, $adColor))
	@else
		@return ($colour)

@function get-contrast($colour, $adColor)
	@if (lightness($colour) < 50)
		@return (lighten($colour, $adColor))
	@else
		@return (darken($colour, $adColor))

@function get-contrast-colors($bg, $font, $adColor)
	@if (lightness($bg) > 50)
		@return (darken($font, $adColor * 0.5))
		//@return blue
	@if (lightness($bg) < 50)
		@return (lighten($font, $adColor * 1.5))
	@else
		@return (lighten($bg, 0%))


@each $game in $game-list
	$primary: add-darknes(nth($game, 2), 20%)
	$secondary: nth($game, 3)

	$btnBg:         get-contrast(get-contrast($primary, 40%), 50%) // button color
	$borderTop:     get-contrast($primary, 20%) // border top color
	$defaultBg:     nth($game, 3) // img bg
	$listBorder:    rgba(get-contrast-colors($primary, $secondary, 40%), .4)
	$tintText:      get-contrast-colors($secondary, $primary, 20%)
	$icons:         get-contrast-colors($secondary, $primary, 50%)
	$iconsDisable:  rgba(get-contrast-colors($secondary, $primary, 50%), .2)

	.gameCard.#{nth($game, 1)}
		.game-card__head
			border-bottom: 12px solid $borderTop
			background: white
			h2
				color: $btnBg
		.game-card__cta
			a
				background: $btnBg
				font-family: $font-family-monospace
				color: get-contrast($primary, 30%)
		svg
			fill: $tintText
		.gameCard__icons
			small
				color: $tintText
		.disable
			small
				color: $iconsDisable
			svg
				fill: $iconsDisable
		.gameCard__attribute
			dd, dt
				border-bottom: 1px solid $listBorder
			dt
				color: $tintText
			dd
				color: get-contrast-colors($secondary, $primary, 50%)
		.gameCard__details
			background: $secondary
			background: linear-gradient(10deg, desaturate(get-contrast($primary, 10%), 10%) 0%, rgba($secondary,1) 40%)
.gameCard
	.game-card__head
		background: white
	.game-card__cta
		a
			font-family: $font-family-monospace

.gameCard__attribute
	h3
		color: white
	dd, dt
		width: 50%

.game-card__info
	padding-left: 2rem


.gameCard__details
	position: relative
	width: 100%
	overflow: hidden
	div:first-child
		padding-top: 2rem
	&:before
		content: ""
		position: absolute
		left: -5%
		right: -5%
		z-index: -1
		display: block
		background-size: cover
		background-position: 50% 50%
		background-color: black
		width: 110%
		height: 50vh
		overflow: hidden

		
.gameCard__gameImage, .gameCard__attribute
	width: 100%


.gameCard__gameImage
	img
		display: block
		max-width: 600px
		margin: 0 auto

.staricon0
	fill: #FFCC00
.star1Icon0
	fill: #FFCC00
.star1Icon1
	fill: lighten(black, 80%)

.stars
	svg
		width: 25px

// test new-game bg
.gameCard
	.gameCard__details
		.container
			position: relative
			z-index: 2
			color: #fff
			padding: 2rem
			text-align: center
		&__background
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: 1