//- dev = true
doctype
html
	head
		block meta
			//- Required meta tags
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		
		block css
			link(rel='stylesheet', href='app.css')
			
	body
		block content
		
		block footer
			
		
		//- jQuery first, then Tether, then Bootstrap JS
		//script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		//script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
		//script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
		//script(src='https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js')