svg.allSVG(style="position:absolute", width='0', height='0', version='1.1', xmlns='http://www.w3.org/2000/svg')
	include svg/3weels
	include svg/5weels
	include svg/all_devices
	include svg/bingo
	include svg/bullet
	include svg/cardChips
	include svg/cards
	include svg/cards1
	include svg/cards2
	include svg/cardsTable
	include svg/cash
	include svg/chips
	include svg/cross
	include svg/desk_mobile
	include svg/desktop
	include svg/dice
	include svg/dice1
	include svg/dice2
	include svg/download
	include svg/filter
	include svg/free
	include svg/freeSpins
	include svg/gift
	include svg/live
	include svg/lucky
	include svg/minus
	include svg/new
	include svg/news
	include svg/payPall
	include svg/tablet
	include svg/plus
	include svg/question
	include svg/roulette
	include svg/star
	include svg/star1
	include svg/mobile
	include svg/videoSpins
	include svg/videoSpins_1
	include svg/vip