<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://zurb.com/playground/uploads/upload/upload/330/stackblur.min.js"></script>
    <script>
      $(function(){
      	// our iteration
      	$('[data-canvas]').each(function(){
      		var $el = $(this);
      
      		var BLUR_RADIUS = 3;
      		var canvas = this; // canvas is the element we're iterating over
      		var canvasContext = canvas.getContext('2d');
      
      		var image = new Image();
      
      		// I changed the line below of theirs to refer to the canvases attributes
      		// we're iterating over above
      		image.src = $el.attr('data-src');
      
      		var drawBlur = function() {
      			var w = canvas.width;
      			var h = canvas.height;
      			canvasContext.drawImage(image, 0, 0, w, h);
      
      			var id = $el.attr('id'); // use the id from the canvas
      			stackBlurCanvasRGBA( id, 0, 0, w, h, BLUR_RADIUS);
      		};
      
      		image.onload = function() {
      			drawBlur();
      		}
      	});
      });
      
      
    </script>
  </body>
</html>